/*ОПТИМИЗАЦИЯ САЙТА ПОД МОБИЛЬНЫЕ УСТРОЙСТВА*/


@media (max-width: 1150px) {
	.img{
		width: 100%;
		height: 100%;

		top: 9%;
		left: 55%;
	}
	.image{
		width: 120%;
		height: 55%;

		top: -5%;
		left: -10%;
	}

	h1{ 
		font-weight: 500;
		font-size: 2em;

		position: absolute;
		top: 55%;
		left: 20%;
		transform: translate(-50%,-50%);
	}
	#two{ 
		top: 110%;
	}
	@keyframes fly{ 
	from{
		top:90%;
		left:50%;
	}
	10%{
		top: 87%;
		left: 58%;
	}
	25%{
		top: 85%;
		left: 65%;
	}
	30%{
		top: 83%;
		left: 70%;
	}
	50%{
		top: 81%;
		left: 78%;
	}
	60%{
		top: 85%;
		left: 83%;
	}
	75%{
		top: 90%;
		left: 75%;
	}
	80%{
		top: 88%;
		left: 66%;
	}
	to{
		top: 90%;
		left: 50%;
	}
}
@keyframes fly2{ 
	from{
		top:100%;
		left:60%;
	}
	10%{
		top: 97%;
		left: 68%;
	}
	25%{
		top: 99%;
		left: 65%;
	}
	30%{
		top: 100%;
		left: 74%;
	}
	50%{
		top: 103%;
		left: 78%;
	}
	60%{
		top: 105%;
		left: 85%;
	}
	75%{
		top: 103%;
		left: 90%;
	}
	80%{
		top: 100%;
		left: 86%;
	}
	to{
		top: 100%;
		left: 60%;
	}
}
	
	.span{ 
		font-size: 1.5em;

		width: 30%;

		position: absolute;
		top: 100%;
		left: 75%;
		transform: translate(-50%,-50%);
	}
	.span::before{ 
		display: none;
	}
	#polyone{ 
		display: none;
	}
	#polythree{
		display: none;
	}
	#polyfour{
		display: none;
	}
	#polytwo{ 
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
	svg{
		top: 55%;
		left: 105%;

		width: 90%;
	}



@media (max-width: 550px){
	svg{
		top: 36%;
		left: 70%;

		height: 80%;
	}
	.img{
		left: 9%;
	}
	.pageOne{
		width: 120%;
		height: 280%;

		margin: 0 0% 0 -0.5%;

		top: 120%;
	}
	.story{
		font-size: 2.5em;

		width: 80%;

		position: absolute;
		top: 3%;
		left: 55%;
	}
	.ficha::before{
		content: "";

		display: inline-block;

		width: 15%;
		height: 50%;

		transform: scale(0);

		position: absolute;
		top: 50%;
		left: 50.5%;

		border-radius: 50%;

		background-color: red;

		transition: all 1s ease;
	}
	.stars{
		width: 90%;
		height: 100%;
	}
	@keyframes flyStars{
		from{
			left: -10%;
		}
		50%{
			left: -15%;
		}
		to{
			left: -10%;
		}
}
	.grow{
		width: 80%;

		position: absolute;
		top: 10%;
		left: 13%;
	}
	.rost{
		width: 80%;
		height: 21%;

		top: 20%;
		left: 5%;
	}
	.whoIm:nth-child(2){
		position: absolute;
		top: 700%;
		left: 0%;
	}
	.pc{
		width: 80%;
		height: 20%;

		top: 75%; 
		left: 10%;
 	}


 	.pageTwo{
 		width: 121%;
		height: 150%;

		margin-left: -3%;

		top: 403%;
 	}
 	.mFDL{
		width: 70%;

		position: absolute;
		top: 0%;
		left: 30%;

		padding-left: 50%;
	}
	.blin{
		top: 15%;
		left: 30%;

		font-size: 1.1em;
	}
	.sclboy{
		top: 50%;
		left: 10%;

		width: 80%;
	}
	.cPlus{
		position: absolute;
		top: 15%;
		left: 10%;

		width: 70%;
		height: 26%;
	}
	.pageThree{
		width: 120%;
		height: 250%;

		position: absolute;
		top: 583%;
		left: 1%;
	}
	.comeBack{
		width: 35%;
		padding-left: 25%;

		position: absolute;
		top: 10%;
		left: 25%;
		transform: translate(-50%,-50%);
	}
	.summer{
		width: 90%;

		position: absolute;
		top: 50%;
		left: 6%;
	}
	.devLan{
		color: rgb(0,100,250);
	}
	.josGif{
		position: absolute;
		top: 25%;
		left: 10%;
	}
	.ySlf{
		width: 50%;

		font-size: 12em;

		position: absolute;
		top: 40%;
		left: 60%;
	}
	.pageFour{
		width: 100%;
		height: 220%;

		position: absolute;
		top: 833%;
		left: 0%;
	}
	.myProjects{
		font-size: 4em;

		width: 115%;

		position: absolute;
		top: 2%;
		left: 50%;
	}
	.turnEverAroun{
		position: absolute;
		top: 8%;
		left: 26%;

		font-size: 1.3em;
	}
	.practice{
		width: 110%;

		position: absolute;
		top: 47%;
		left: 5%;
	}
	.practice:hover{
		letter-spacing: 5px;
	}
	.jolGif{
		position: absolute;
		top: 15%;
		left: 5%;

		width: 90%;

		animation: infin 10s ease 0s infinite;
	}
	.pageFive{
		width: 120%;
		height: 300%;

		position: absolute;
		top: 1033%;
		left: 1%;
	}
	.firstSite{
		font-size: 3em;

		width: 91%;

		position: absolute;
		top: 2%;
		left: 4%;
	}
	.start{
		width: 90%;

		position: absolute;
		top: 10%;
		left: 5%;
	}
	.startPart2{
		position: absolute;
		top: 57%;
		left: 5%;
	}
	.dataAndTime{
		font-size: 2em;

		position: absolute;
		top: 42%;
		left: 25%;
	}
	.site1Screen1,.site1Screen2,.site1Screen3{
		position: absolute;

		width: 90%;

		transition: all 2s ease;

		cursor: pointer;
	}
	.site1Screen1:hover,.site1Screen2:hover,.site1Screen3:hover{
		z-index: 2;

		width: 91%;

		transform: scale(1.1);
	}
	.site1Screen1{
		top: 45%;
		left: 5%;
	}
	.site1Screen2{
		top: 77%;
		left: 5%;
	}
	.site1Screen3{
		position: absolute;
		top: 89%;
		left: 5%;
	}
	.startsAnimeGor, .startsAnimeVer{
		display: none;
	}

	.pageSix{
		width: 121%;
		height: 200%;

		position: absolute;
		top: 1333%;
		left: 0%;
	}
	.second{
		font-size: 3em;

		width: 50%;

		position: absolute;
		top: 2%;
		left: 4%;
	}
	.registration{
		width: 90%;

		position: absolute;
		top: 10%;
		left: 5%;
	}
	.screensForTwoSite{
		width: 95%;
		height: 50%;

		flex-direction: column;

		position: absolute;
		top: 70%;
		left: 52%;
		transform: translate(-50%,-50%);
	}
	.site2Screen1,.site2Screen2,.site2Screen3{
		width: 90%;
		height: 30%;
	}
	.site2Screen1:hover, .site2Screen2:hover, .site2Screen3:hover{
		width: 100%;
		height: 33%;

		margin-top: -1.5%;
		margin-left: -2%;
	}
	.pageSeven{
		width: 120%;
		height: 180%;

		position: absolute;
		top: 1533%;
		left: 1%;
	}
	.seeScreen{
		width: 80%;

		top: 92%;
		left: 7%;

		font-size: 1.5em;
	}
	.third{
		font-size: 3em;

		width: 20%;

		position: absolute;
		top: 2%;
		left: 50%;
	}
	.die{
		width: 90%;

		position: absolute;
		top: 10%;
		left: 5%;
	}
	.epic{
		color: rgb(0,100,250);
	}
	.site3Screen1,.site3Screen2,.site3Screen3{
		position: absolute;
		top: 70%;
		left: 5%;

		width: 90%;
	}
	@keyframes showYouOneOne{
		from{
			left: 5%;
		}
		to{
			left: -10%;
		}
	}
	@keyframes showYouOneTwo{
		from{
			left: -10%;
		}
		to{
			left: 5%;
		}
	}
	@keyframes showYouTwoOne{
		from{
			top: 70%;
		}
		to{
			top: 50%;
		}
	}
	@keyframes showYouTwoTwo{
		from{
			top: 50%;
		}
		to{
			top: 70%;
		}
	}
	@keyframes showYouThreeOne{
		from{
			top: 70%;
		}
		to{
			top: 80%;
		}
	}
	@keyframes showYouThreeTwo{
		from{
			top: 80%;
		}
		to{
			top: 70%;
		}
	}
	.pageEight{
		width: 120%;
		height: 100%;

		position: absolute;
		top: 1713%;
		left: 1%;
	}
	.fourth{
		font-size: 3em;

		width: 20%;

		position: absolute;
		top: 2%;
		left: 20%;
	}
	.paints{
		width: 60%;

		top: 20%;
		left: 50%;
	}
	.prikol{
		width: 30%;

		top: 30%;
		left: 50%;
	}
	.earnEpilepsy{
		width: 65%;
		height: 10%;

		top: 50%;
		left: 49%;

		font-size: 1.3em;
	}
	.earnEpilepsy:hover{
		width: 50%;
		height: 25%;
	}
	.pageNine{
		width: 120%;
		height: 150%;

		position: absolute;
		top: 1813%;
		left: 1%;
	}
	.andOther{
		font-size: 3em;

		width: 80%;

		position: absolute;
		top: 4%;
		left: 55%;
	}
	.theyDontExist{
		width: 80%;

		position: absolute;
		top: 20%;
		left: 52%;
		transform: translate(-50%,-50%);
	}
	.site5Screen1,.site5Screen2{
		position: absolute;
		top: 40%;
		left: 10%;

		width: 80%;
	}
	.site5Screen2{
		top: 70%;
	}
	.pageTen{
		width: 120%;
		height: 800px;

		position: absolute;
		top: 1970%;
		left: 1%;
	}
	.imageForNine{
		position: absolute;
		top: 25%;
		left: -75%;

		width: 230%;
		height: 530px;

		transform: rotateZ(90deg);
	}
	.theEnd{
		font-size: 3em;

		width: 60%;

		position: absolute;
		top: 14%;
		left: 51%;
	}
	.cyberBulling{
		width: 80%;

		position: absolute;
		top: 37%;
		left: 52%;
		transform: translate(-50%,-50%);
	}
	.linkVK{
		color: rgb(0,100,250);

		text-decoration: none;

		background-color: black;
	}
	.passwordForEmail{
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%,-50%);

		padding-left: 10%;

		width: 70%;
		height: 5%;

		font-size: 2em;
	}
	.labelForInput::before{
		content: ""; 

		position: absolute; 
		top:60%; 
		left: 50%; 
		transform: translate(-50%,-50%); 
	}
	.labelForInput:hover::before{
		width: 80%;
	}
	.buttonForEmail{
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%,-50%);

		padding-bottom: 0%;

		width: 40%;
		height: 15%;

		font-size: 2.5em;

		clip-path: polygon(100% 10%, 0% 10%, 50% 100%);
	}
	.buttonForEmail::before{
		content: "";

		width: 120%;
		height: 30%;

		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.navigation{
		width: 90px;
		height: 90px;

		position: fixed;
		top: 85%;
		left: 75%;
	}
	.navigationBefore{
		width: 300px;
		height: 40px;
		padding-left: 25%;
		padding-top: 5%;
		
		font-size: 1.5em;

		position: absolute;
		top: 30%;
		left: -340%;
	}
	.portal{
		padding-top: 25%;
	}
	.list{
		font-size: 1.5em;

		width: 380px;
		height: 450px;

		position: relative;
		top: -665%;
		left: 335%;
	}
	dt{
		padding-top: 3%;
		padding-left: 5%;
	}
	.navigation:hover .list{
		position: relative;
		top: -665%;
		left: -335%;

		z-index: 10;
	}
	.spin{
		width: 200px;
	}
}


@media (max-width: 500px){
	svg{
		left: 70%;
	}
	.img{
	}
	.span{
		top: 135%;
	}
}

@media (max-width: 480px){
	svg{
		left: 70%;
	}
	.span{
		top: 135%;
	}
}

@media (min-width: 450px) and (max-width: 1100px){
	.fnln{
		font-size: 1.5em;
	}
	.span{
		font-size: 1.3em; 
	}
}

@media (max-width: 449px){
	svg{
		left: 65%;
	}
	.fnln{
		font-size: 1.5em;
	}
	.span{
		font-size: 1em;
		top: 135%;
	}
}

@media (max-width: 400px){
	svg{
		left: 65%;
	}
	.fnln{
		font-size: 1.4em;
	}
	.span{
		font-size: 1em;
	}
}

@media (max-width: 365px){
	.pageZero{
		height: 120%;
	}
	.svg{
		top: 46%;
		left: 65%;

		width: 97%;
	}
	.fnln{
		font-size: 1.3em;
	}
	.span{
		font-size: 1.1em;
	}
	#polyone{ 
		display: none;
	}
	#polythree{
		display: none;
	}
	#polyfour{ 
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
	#polytwo{ 
		display: none;
	}
}

@media (max-width: 320px){
	svg{
		top: 52%;
		left: 88%;

		width: 97%;
	}
	#polyone{
		display: none;
	}
	#polythree{
		display: none;
	}
	#polytwo{
		display: none;
	}
	#polyfour{
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4500px;
		stroke-dashoffset:4500px;

		transition: all 8s ease;
	}
	
}