/*ОПТИМИЗАЦИЯ ПЕРВОЙ СТРАНИЦЫ ПОД МОБИЛЬНЫЕ УСТРОЙСТВА*/
/* Очень маленькие устройства (телефоны, 320px и ниже) */
@media (max-width: 1150px) {
	img{ /*позиционирую Джолин*/
		width: 80.5vw;
		
		top: 7%;
	}

	h1{ /*Делаю текст более жирным и также позиционирую его*/
		font-weight: 500;
		font-size: 2em;

		position: absolute;
		top: 55vh;
		left: 20vw;
		transform: translate(-50vw,-50vh);
	}
	h1:nth-child(2){ /*Делаю фамилию ниже имени*/
		top: 110vw;
	}
	@keyframes fly{ /*Переделываю анимацию полёта имени, чтобы текст не улетал за рамки*/
	from{
		top:110vh;
		left:50vw;
	}
	10%{
		top: 107vh;
		left: 58vw;
	}
	25%{
		top: 105vh;
		left: 65vw;
	}
	30%{
		top: 103vh;
		left: 70vw;
	}
	50%{
		top: 101vh;
		left: 78vw;
	}
	60%{
		top: 105vh;
		left: 83vw;
	}
	75%{
		top: 110vh;
		left: 75vw;
	}
	80%{
		top: 108vh;
		left: 66vw;
	}
	to{
		top: 110vh;
		left: 50vw;
	}
}
@keyframes fly2{ /*Переделываю анимацию полёта имени, чтобы текст не улетал за рамки*/
	from{
		top:115vh;
		left:60vw;
	}
	10%{
		top: 112vh;
		left: 68vw;
	}
	25%{
		top: 114vh;
		left: 65vw;
	}
	30%{
		top: 115vh;
		left: 74vw;
	}
	50%{
		top: 118vh;
		left: 78vw;
	}
	60%{
		top: 120vh;
		left: 85vw;
	}
	75%{
		top: 118vh;
		left: 90vw;
	}
	80%{
		top: 115vh;
		left: 86vw;
	}
	to{
		top: 115vh;
		left: 60vw;
	}
}
	
	span{ /*Увеличиваю и позиционирую кнопку*/
		font-size: 1.5em;

		position: absolute;
		top: 130vh;
		left: 85vw;
		transform: translate(-50vw,-50vh);

	}

	#polyone{ /*Делаю так, чтобы маленький квадрат был незаметен для мобильных устройств*/
		display: none;
	}
	#polythree{
		display: none;
	}
	#polyfour{
		display: none;
	}
	#polytwo{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
	svg{ /*Позиционирую svg*/
		top: 45%;

		width: 90vw;
	}
}
@media (max-width: 992px){
	span{
		color: red;
	}
}
@media (max-width: 768px){
	span{
		color: green;
	}

}

@media (min-height: 800px) and (max-height: 950px){
	img{ /*позиционирую Джолин*/
		top: 4.5%;
	}
	svg{ /*Позиционирую svg*/
		width: 155vw;
	}
	#polytwo{
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:5000px;
		stroke-dashoffset:5000px;

		transition: all 8s ease;
	}
}

@media (height: 823px){
	img{ /*позиционирую Джолин*/
		top: 6%;
	}
}

@media (min-width: 365px) and (max-width: 750px) {

}

@media (max-width: 480px){
	span{
		color: blue;
	}
	#polyone{ /*Делаю так, чтобы маленький квадрат был незаметен для мобильных устройств*/
		display: none;
	}
	#polytwo{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: none;
	}
	#polyfour{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: none;
	}
	#polythree{
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
	svg{ /*Позиционирую svg*/
		top: 45%;
		left: 54%;

		width: 90vw;
	}
}
@media (height: 667px){
	#polyone{ /*Делаю так, чтобы маленький квадрат был незаметен для мобильных устройств*/
		display: none;
	}
	#polyfour{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: none;
	}
	#polythree{
		display: none;
	}
	#polytwo{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
	svg{ /*Позиционирую svg*/
		top: 47%;
		left: 57%;
	}
}

/*добавил ночью, в случае ошибок - удалить*/ 

@media (min-width: 365px) and (max-width: 1024px){
	img{ /*позиционирую Джолин*/
		top: 2%;
		left: 1.5%;

		width: 100vw;
		height: 50vh;
	}
	#polyone{ /*Делаю так, чтобы маленький квадрат был незаметен для мобильных устройств*/
		display: none;
	}
	#polythree{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: none;
	}
	#polyfour{
		display: none;
	}
	#polytwo{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
	svg{ /*Позиционирую svg*/
		top: 47%;
		left: 60%;
	}
}

@media (min-height: 800px) and (max-height: 820px){
	img{ /*позиционирую Джолин*/
		top: 1.3%;
		left: 5%;

		width: 90vw;
		height: 45vh;
	}
	#polyone{ /*Делаю так, чтобы маленький квадрат был незаметен для мобильных устройств*/
		display: none;
	}
	#polythree{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: none;
	}
	#polyfour{
		display: none;
	}
	#polytwo{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
	svg{ /*Позиционирую svg*/
		top: 47%;
		left: 57%;
	}
}
@media (max-width: 1150px){
	svg{
		top: 55%;
		left: 105%;
	}
	img{
		width: 35vw;
		height: 45vh;

		top: 9%;
		left: 52%;
	}
	.fnln{
		font-size: 2em;
	}
	span{
		font-size: 1.5em; 
	}
}
@media (max-width: 1100px){
	svg{
		left: 83%;
	}
	img{
		width: 50vw;
		left: 22%;
	}
}

@media (max-width: 1050px){
	svg{
		left: 80%;
	}
	img{
		width: 50vw;
		left: 22%;
	}
}

@media (max-width: 1000px){
	svg{
		left: 78%;
	}
	img{
		width: 50vw;
		left: 22%;
	}
}

@media (max-width: 950px){
	svg{
		left: 78%;
	}
	img{
		width: 50vw;
		left: 22%;
	}
}

@media (min-width: 850px) and (max-width: 1100px){
	img{
		height: 52vh;
	}
}

@media (max-width: 900px){
	svg{
		left: 78%;
	}
	img{
		width: 50vw;
		left: 22%;
	}
}

@media (max-width: 850px){
	svg{
		left: 78%;
	}
	img{
		width: 50vw;
		left: 22%;
	}
}

@media (min-width: 700px) and (max-width: 850px){
	img{
		height: 50vh;
	}
}
@media (max-width: 800px){
	svg{
		left: 78%;
	}
	img{
		width: 55vw;
		left: 22%;
	}
}

@media (max-width: 750px){
	svg{
		left: 75%;
	}
	img{
		width: 60vw;
		left: 18%;
	}
}

@media (max-width: 700px){
	svg{
		left: 75%;
	}
	img{
		width: 60vw;
		left: 18%;
	}
}


@media (max-width: 650px){
	svg{
		left: 70%;
	}
	img{
		width: 60vw;
		left: 18%;
	}
	.fnln{
		font-size: 1.5em;
	}
	span{
		font-size: 1.3em; 
	}
}

@media (max-width: 600px){
	svg{
		left: 65%;
	}
	img{
		width: 60vw;
		left: 13%;
	}
}

@media (max-width: 550px){
	svg{
		left: 70%;
	}
	img{
		width: 70vw;
		left: 9%;
	}

}

@media (max-width: 500px){
	svg{
		left: 70%;
	}
	img{
		width: 80vw;
		left: 9%;
	}
}
@media (min-width: 450px) and (max-width: 1100px){
	.fnln{
		font-size: 1.5em;
	}
	span{
		font-size: 1.3em; 
	}
}

@media (max-width: 449px){
	svg{
		left: 65%;
	}
	img{
		left: 9%;
	}
	.fnln{
		font-size: 1.5em;
	}
	span{
		font-size: 1em;
	}
}

@media (max-width: 400px){
	svg{
		left: 65%;
	}
	.fnln{
		font-size: 1em;
	}
	span{
		font-size: 0.5em;
	}
}

/*корректировал ночью top*/

@media (max-width: 365px){
	img{ /*позиционирую Джолин*/ 
		top: 2%;
		left: 4%;

		width: 93vw;
		height: 42vh;
	}
	.fnln{
		font-size: 1.5em;
	}
	span{
		font-size: 1em;
		color: orange;
	}
	#polyone{ /*Делаю так, чтобы маленький квадрат был незаметен для мобильных устройств*/
		display: none;
	}
	#polythree{
		display: none;
	}
	#polyfour{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: none;
	}
	#polytwo{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
	svg{ /*Позиционирую svg*/
		top: 45%;
		left: 56%;

		width: 90vw;
	}
}

/*корректировал ночью top*/

@media (max-width: 320px){
	img{
		width: 78vw;
		height: 30vh;
		left: 12.5%;
		top: 4%;
	}
	#polyone{ /*Делаю так, чтобы маленький квадрат был незаметен для мобильных устройств*/
		display: none;
	}
	#polythree{
		display: none;
	}
	#polytwo{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: none;
	}
	#polyfour{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
}