/*ОПТИМИЗАЦИЯ ПЕРВОЙ СТРАНИЦЫ ПОД МОБИЛЬНЫЕ УСТРОЙСТВА*/

/*общие настройки (чтобы не повторяться)*/
@media (max-width: 1150px) {
	.img{
		width: 35%;
		height: 45%;

		top: 9%;
		left: 52%;
	}

	h1{ /*Делаю текст более жирным и также позиционирую его*/
		font-weight: 500;
		font-size: 2em;

		position: absolute;
		top: 55%;
		left: 20%;
		transform: translate(-50%,-50%);
	}
	#two{ /*Делаю фамилию ниже имени*/
		top: 110%;
	}
	@keyframes fly{ /*Переделываю анимацию полёта имени, чтобы текст не улетал за рамки*/
	from{
		top:90%;
		left:50%;
	}
	10%{
		top: 87%;
		left: 58%;
	}
	25%{
		top: 85%;
		left: 65%;
	}
	30%{
		top: 83%;
		left: 70%;
	}
	50%{
		top: 81%;
		left: 78%;
	}
	60%{
		top: 85%;
		left: 83%;
	}
	75%{
		top: 90%;
		left: 75%;
	}
	80%{
		top: 88%;
		left: 66%;
	}
	to{
		top: 90%;
		left: 50%;
	}
}
@keyframes fly2{ /*Переделываю анимацию полёта имени, чтобы текст не улетал за рамки*/
	from{
		top:100%;
		left:60%;
	}
	10%{
		top: 97%;
		left: 68%;
	}
	25%{
		top: 99%;
		left: 65%;
	}
	30%{
		top: 100%;
		left: 74%;
	}
	50%{
		top: 103%;
		left: 78%;
	}
	60%{
		top: 105%;
		left: 85%;
	}
	75%{
		top: 103%;
		left: 90%;
	}
	80%{
		top: 100%;
		left: 86%;
	}
	to{
		top: 100%;
		left: 60%;
	}
}
	
	.span{ /*Увеличиваю и позиционирую кнопку*/
		font-size: 1.5em;

		position: absolute;
		top: 100%;
		left: 70%;
		transform: translate(-50%,-50%);
	}
	.span::before{ /*Убираю анимацию при наведении*/
		display: none;
	}
	/*Делаю так, чтобы маленький квадрат и ненужные большие были незаметены для мобильных устройств*/
	#polyone{ 
		display: none;
	}
	#polythree{
		display: none;
	}
	#polyfour{
		display: none;
	}
	#polytwo{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
	svg{ /*Позиционирую svg и задаю ширину*/
		top: 55%;
		left: 105%;

		width: 90%;
	}

/*Отдельные настройки для разных устройств с разной шириной*/

@media (max-width: 550px){
	svg{/*позиционирую svg*/
		left: 70%;
	}
	.img{/*позиционирую и задаю размер фотографии*/
		width: 70%;
		left: 9%;
	}
	.image{
		width: 100%;
		height: 100%;
	}
	.pageOne{/*Растягивание второй страницы, цвет*/
		width: 121.5%;
		height: 280%;

		margin: 0 0% 0 -3%;

		top: 120%;
	}
	.story{/*цвет, размер и позиция заголовка*/
		font-size: 2.5em;

		width: 80%;

		position: absolute;
		top: 3%;
		left: 55%;
	}
	.ficha::before{/*красный круг, появляющийся при  наведении на IT*/
		content: "";

		display: inline-block;

		width: 15%;
		height: 50%;

		transform: scale(0);

		position: absolute;
		top: 50%;
		left: 50.5%;

		border-radius: 50%;

		background-color: red;

		transition: all 1s ease;
	}
	.stars{/*размер звёзд и позиция*/
		width: 90%;
		height: 100%;
	}
	@keyframes flyStars{/*анимация движения звёзд*/
		from{
			left: -10%;
		}
		50%{
			left: -15%;
		}
		to{
			left: -10%;
		}
}
	.grow{/*ширина контента  и его расположение*/
		width: 80%;

		position: absolute;
		top: 10%;
		left: 13%;
	}
	.rost{/*иллюстрация*/
		width: 80%;
		height: 21%;

		top: 20%;
		left: 5%;
	}
	.whoIm:nth-child(2){/*вторая часть контейнера должна быть ниже первой*/
		position: absolute;
		top: 700%;
		left: 0%;
	}
	.pc{/*иллюстрация*/
		width: 80%;
		height: 20%;

		top: 75%; /*баю бай, засыпай, бейби попадают в рай, не кури, не киряй, не кури, не киряй...*/
		left: 10%;
 	}


 	.pageTwo{
 		width: 121%;
		height: 150%;

		margin-left: -3%;

		top: 403%;
 	}
 	.mFDL{
		width: 70%;

		position: absolute;
		top: 0%;
		left: 30%;

		padding-left: 50%;
	}
	.blin{
		top: 15%;
		left: 30%;

		font-size: 1.1em;
	}
	.sclboy{
		top: 50%;
		left: 10%;

		width: 80%;
	}
	.cPlus{
		position: absolute;
		top: 15%;
		left: 10%;

		width: 70%;
		height: 26%;
	}
	.pageThree{
		width: 121%;
		height: 250%;

		position: absolute;
		top: 583%;
		left: 0%;
	}
	.comeBack{
		width: 35%;
		padding-left: 25%;

		position: absolute;
		top: 10%;
		left: 25%;
		transform: translate(-50%,-50%);
	}
	.summer{
		width: 90%;

		position: absolute;
		top: 50%;
		left: 6%;
	}
	.josGif{
		position: absolute;
		top: 25%;
		left: 10%;
	}
	.ySlf{
		width: 50%;

		font-size: 12em;

		position: absolute;
		top: 40%;
		left: 60%;
	}
}

@media (max-width: 500px){
	svg{/*позиционирую svg*/
		top: 45%;
		left: 70%;
	}
	.img{/*задаю размер (от контейнера!) фотографии*/
		width: 100%;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 100%;
		height: 100%;

		top: -5%;
		left: 0%;
	}
	.span{/*опускаю кнопку ниже*/
		top: 135%;
	}
}

@media (max-width: 480px){
	svg{/*позиционирую svg*/
		top: 45%;
		left: 70%;
	}
	.img{/*задаю размер (от контейнера!) фотографии*/
		width: 100%;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 55%;
		height: 50%;

		top: -5%;
		left: 8%;
	}
	.span{/*опускаю кнопку ниже*/
		top: 135%;
	}
}
/*Рпзмер текста для устройств с шириной от 450 до 1100 пикселей*/
@media (min-width: 450px) and (max-width: 1100px){
	.fnln{
		font-size: 1.5em;
	}
	.span{
		font-size: 1.3em; 
	}
}

@media (max-width: 449px){
	svg{/*позиционирую svg*/
		top: 55%;
		left: 65%;
	}
	.img{/*задаю размер (от контейнера!) фотографии*/
		width: 100%;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 100%;
		height: 100%;

		top: 0%;
		left: 0%;
	}
	.fnln{/*задаю размер текста имени и фамилии*/
		font-size: 1.5em;
	}
	.span{/*задаю размер текста кнопке*/
		font-size: 1em;
		top: 135%;
	}
}

@media (max-width: 400px){
	svg{/*позиционирую svg*/
		top: 46%;
		left: 65%;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 60%;
		height: 0%;

		top: 0%;
		left: 0%;
	}
	.fnln{/*задаю размер текста имени и фамилии*/
		font-size: 1.4em;
	}
	.span{/*задаю размер текста кнопке*/
		font-size: 1em;
	}
}

@media (max-width: 365px){
	.pageZero{
		height: 120%;
	}
	.svg{ /*Позиционирую svg*/
		top: 46%;
		left: 65%;

		width: 97%;
	}
	.img{
		width: 100%;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 120%;
		height: 120%;

		top: -8%;
		left: -11%;
	}
	.fnln{/*задаю размер текста имени и фамилии*/
		font-size: 1.3em;
	}
	.span{/*задаю размер текста кнопке*/
		font-size: 1.1em;
	}
	#polyone{ /*Делаю так, чтобы нужные квадраты НЕ показывались НЕнужному устройству*/
		display: none;
	}
	#polythree{
		display: none;
	}
	#polyfour{ 
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
	#polytwo{ /*Делаю так, чтобы нужный квадрат показывался нужному устройству и немного стилизую его*/
		display: none;
	}
}

@media (max-width: 320px){
	svg{/*позиционирую svg*/
		top: 52%;
		left: 88%;

		width: 97%;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 105%;
		height: 50%;

		top: 2%;
		left: 0%;
	}
	#polyone{ /*Делаю так, чтобы нужные квадраты НЕ показывались НЕнужному устройству*/
		display: none;
	}
	#polythree{
		display: none;
	}
	#polytwo{
		display: none;
	}
	#polyfour{/*Делаю так, чтобы нужный квадрат показывался нужному устройству и немного стилизую его*/
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4500px;
		stroke-dashoffset:4500px;

		transition: all 8s ease;
	}
	
}