/*ОПТИМИЗАЦИЯ ПЕРВОЙ СТРАНИЦЫ ПОД МОБИЛЬНЫЕ УСТРОЙСТВА*/

/*общие настройки (чтобы не повторяться)*/
@media (max-width: 1150px) {
	img{
		width: 35vw;
		height: 45vh;

		top: 9%;
		left: 52%;
	}

	h1{ /*Делаю текст более жирным и также позиционирую его*/
		font-weight: 500;
		font-size: 2em;

		position: absolute;
		top: 55vh;
		left: 20vw;
		transform: translate(-50vw,-50vh);
	}
	h1:nth-child(2){ /*Делаю фамилию ниже имени*/
		top: 110vw;
	}
	@keyframes fly{ /*Переделываю анимацию полёта имени, чтобы текст не улетал за рамки*/
	from{
		top:110vh;
		left:50vw;
	}
	10%{
		top: 107vh;
		left: 58vw;
	}
	25%{
		top: 105vh;
		left: 65vw;
	}
	30%{
		top: 103vh;
		left: 70vw;
	}
	50%{
		top: 101vh;
		left: 78vw;
	}
	60%{
		top: 105vh;
		left: 83vw;
	}
	75%{
		top: 110vh;
		left: 75vw;
	}
	80%{
		top: 108vh;
		left: 66vw;
	}
	to{
		top: 110vh;
		left: 50vw;
	}
}
@keyframes fly2{ /*Переделываю анимацию полёта имени, чтобы текст не улетал за рамки*/
	from{
		top:115vh;
		left:60vw;
	}
	10%{
		top: 112vh;
		left: 68vw;
	}
	25%{
		top: 114vh;
		left: 65vw;
	}
	30%{
		top: 115vh;
		left: 74vw;
	}
	50%{
		top: 118vh;
		left: 78vw;
	}
	60%{
		top: 120vh;
		left: 85vw;
	}
	75%{
		top: 118vh;
		left: 90vw;
	}
	80%{
		top: 115vh;
		left: 86vw;
	}
	to{
		top: 115vh;
		left: 60vw;
	}
}
	
	span{ /*Увеличиваю и позиционирую кнопку*/
		font-size: 1.5em;

		position: absolute;
		top: 130vh;
		left: 85vw;
		transform: translate(-50vw,-50vh);
	}
	span::before{ /*Убираю анимацию при наведении*/
		display: none;
	}
	/*Делаю так, чтобы маленький квадрат и ненужные большие были незаметены для мобильных устройств*/
	#polyone{ 
		display: none;
	}
	#polythree{
		display: none;
	}
	#polyfour{
		display: none;
	}
	#polytwo{ /*Делаю так, чтобы большой квадрат был виден для мобильных устройств и немного стилизую его*/
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
	svg{ /*Позиционирую svg и задаю ширину*/
		top: 55%;
		left: 105%;

		width: 90vw;
	}
}

/*Планшеты будут адаптированы потом (надеюсь))0)*/ 

/*Отдельные настройки для разных устройств с разной шириной*/

@media (max-width: 550px){
	svg{/*позиционирую svg*/
		left: 70%;
	}
	img{/*позиционирую и задаю размер фотографии*/
		width: 70vw;
		left: 9%;
	}

}
@media (max-width: 500px){
	svg{/*позиционирую svg*/
		top: 45%;
		left: 70%;
	}
	img{/*задаю размер (от контейнера!) фотографии*/
		width: 150%;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 55vw;
		height: 50vh;

		top: -5%;
		left: 0%;
	}
	span{/*опускаю кнопку ниже*/
		top: 135vh;
	}
}

@media (max-width: 480px){
	svg{/*позиционирую svg*/
		top: 45%;
		left: 70%;
	}
	img{/*задаю размер (от контейнера!) фотографии*/
		width: 150%;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 55vw;
		height: 50vh;

		top: -5%;
		left: 8%;
	}
	span{/*опускаю кнопку ниже*/
		top: 135vh;
	}
}
/*Рпзмер текста для устройств с шириной от 450 до 1100 пикселей*/
@media (min-width: 450px) and (max-width: 1100px){
	.fnln{
		font-size: 1.5em;
	}
	span{
		font-size: 1.3em; 
	}
}

@media (max-width: 449px){
	svg{/*позиционирую svg*/
		top: 45%;
		left: 65%;
	}
	img{/*задаю размер (от контейнера!) фотографии*/
		width: 150%;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 55vw;
		height: 55vh;

		top: -5%;
		left: 8%;
	}
	.fnln{/*задаю размер текста имени и фамилии*/
		font-size: 1.5em;
	}
	span{/*задаю размер текста кнопке*/
		font-size: 1em;
		top: 135vh;
	}
}

@media (max-width: 400px){
	svg{/*позиционирую svg*/
		top: 45%;
		left: 60%;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 60vw;
		height: 0vh;

		top: 0%;
		left: 0%;
	}
	.fnln{/*задаю размер текста имени и фамилии*/
		font-size: 1.4em;
	}
	span{/*задаю размер текста кнопке*/
		font-size: 1em;
	}
}

@media (max-width: 365px){
	svg{ /*Позиционирую svg*/
		top: 45%;
		left: 58%;

		width: 97vw;
	}
	img{/*задаю размер (от контейнера!) фотографии*/
		width: 200%;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 50vw;
		height: 0vh;

		top: 3.8%;
		left: 0%;
	}
	.fnln{/*задаю размер текста имени и фамилии*/
		font-size: 1.2em;
	}
	span{/*задаю размер текста кнопке*/
		font-size: 1.4em;
	}
	#polyone{ /*Делаю так, чтобы нужные квадраты НЕ показывались НЕнужному устройству*/
		display: none;
	}
	#polythree{
		display: none;
	}
	#polyfour{ 
		display: none;
	}
	#polytwo{ /*Делаю так, чтобы нужный квадрат показывался нужному устройству и немного стилизую его*/
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4000px;
		stroke-dashoffset:4000px;

		transition: all 8s ease;
	}
}

/*корректировал ночью top*/

@media (max-width: 320px){
	svg{/*позиционирую svg*/
		top: 50%;
		left: 58%;

		width: 97vw;
	}
	.image{/*задаю размер и позиционирую контейнер фотографии*/
		width: 105vw;
		height: 50vh;

		top: 2%;
		left: 9%;
	}
	#polyone{ /*Делаю так, чтобы нужные квадраты НЕ показывались НЕнужному устройству*/
		display: none;
	}
	#polythree{
		display: none;
	}
	#polytwo{
		display: none;
	}
	#polyfour{/*Делаю так, чтобы нужный квадрат показывался нужному устройству и немного стилизую его*/
		display: inline-block;

		stroke-width: 5;
		stroke-dasharray:4500px;
		stroke-dashoffset:4500px;

		transition: all 8s ease;
	}
}