html{ /*Подготавливаю страницу к работе*/
	margin: 0;	
	padding: 0;

	font-family: consolas;

	background-color: white;

	overflow: hidden;
}

h1{ /*Задаю стили моему имени и фамилии, чтобы они выглядени по-человечески*/
	font-size: 5em;
	font-weight: lighter;

	position: absolute;
	top: 65vh;
	left: 60vw;
	transform: translate(-50vw,-50vh);

	transition: all 1s ease;
}
h1:nth-child(2){ /*Делаю так, чтобы фамилия была ниже имени*/
	top: 85vh;
}
@keyframes fly{ /*Анимация плавного полёта имени*/
	from{
		top:55vh;
		left:60vw;
	}
	10%{
		top: 52vh;
		left: 58vw;
	}
	25%{
		top: 50vh;
		left: 55vw;
	}
	30%{
		top: 46vh;
		left: 60vw;
	}
	50%{
		top: 40vh;
		left: 65vw;
	}
	60%{
		top: 50vh;
		left: 68vw;
	}
	75%{
		top: 60vh;
		left: 70vw;
	}
	80%{
		top: 58vh;
		left: 66vw;
	}
	to{
		top: 55vh;
		left: 60vw;
	}
}
@keyframes fly2{ /*Анимация плавного полёта фамилии*/
	from{
		top:75vh;
		left:60vw;
	}
	10%{
		top: 80vh;
		left: 58vw;
	}
	25%{
		top: 83vh;
		left: 55vw;
	}
	30%{
		top: 85vh;
		left: 60vw;
	}
	50%{
		top: 88vh;
		left: 65vw;
	}
	60%{
		top: 93vh;
		left: 68vw;
	}
	75%{
		top: 95vh;
		left: 70vw;
	}
	80%{
		top: 97vh;
		left: 66vw;
	}
	to{
		top: 75vh;
		left: 60vw;
	}
}

span{ /*Задаю позицию, размер и появление своеобразной кнопке */
	position: absolute;
	top: 74vh;
	left: 20vw;

	font-size: 2em;

	text-decoration: overline;

	cursor: pointer;

	z-index: 1;

	transition: all 1s ease;
}

div{ /*Задаю размер контейнеру текста*/
	width: 70vw;
	height: 70vh;
	position: absolute;
	animation: openone 1s ease;
}
@keyframes openone{ /*анимация появления контейнера с текстом*/
	from{
		left: -60vw;
	}
	70%{
		left: 10vw;
	}
	to{
		left: 1vw;
	}
}

svg{ /*Задаю размеры контейнеру с svg*/
	position: absolute;
	top: 50%;
	left: 101%;
	transform: translate(-50vw, -50vh);

	width: 100vw;
	height: 100vh;
}
path{ /*Задаю стили и появление квадрата*/
	position: relative;

	fill: none;
	stroke-width:3; 
	stroke: red;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray:1700px;
	stroke-dashoffset:1700px;

	transition: all 5s ease;
}
#polyone{
		display: inline-block;
}
#polytwo{
		display: none;
}

img{ /*Задаю позицию фото Джолин*/
	position: absolute;
	top: 14vh;
	left: 54vw;

	width: 30vw;

	z-index: -1;

	animation: open 3s ease;
}
@keyframes open{ /*Анимация появления фото Джолин*/
	from{
		opacity: 0;
	}
	to{
		opacity: 100%;
	}
}

/*ОПТИМИЗАЦИЯ ПЕРВОЙ СТРАНИЦЫ ПОД МОБИЛЬНЫЕ УСТРОЙСТВА*/

@media (min-width: 600px) and (max-width: 1024px){
	img{
		width: 80vw;
		
		top: 10%;
		left: 26%;
	}
	h1{
		font-weight: bold;
	}
	svg{
		left: 55%;
		width: 105vw;
	}
	#polyone{
		display: none;
	}
	#polytwo{
		display: inline-block;

		stroke-width: 10;
		stroke-dasharray:5000px;
		stroke-dashoffset:5000px;

		transition: all 8s ease;
	}
}