@font-face{/*Загружаю шрифт*/
	font-family: "Consolas";

	src: url("fonts/consola.ttf");
}
@font-face{/*Загружаю шрифт*/
	font-family: "Sans Serif";

	src: url("fonts/helvetica.otf");
}

html{ /*Подготавливаю страницу к работе*/
	margin: 0;	
	padding: 0;

	background-color: white;

	font-family: "Consolas", consolas, "Sans Serif", helvetica; 

	overflow-x: hidden;

	width: 100vw;
	height: 200vh;
}

.page{ /*делаю контейнеры размером со всё устройство*/
	width: 100%;
	height: 100%;
}

h1{ /*Задаю стили моему имени и фамилии, чтобы они выглядени по-человечески*/
	font-size: 5em;
	font-weight: lighter;

	position: absolute;
	top: 65vh;
	left: 60vw;
	transform: translate(-50vw,-50vh);

	transition: all 1s ease;
}
h1:nth-child(2){ /*Делаю так, чтобы фамилия была ниже имени*/
	top: 85vh;
}
@keyframes fly{ /*Анимация плавного полёта имени*/
	from{
		top:55vh;
		left:60vw;
	}
	10%{
		top: 52vh;
		left: 58vw;
	}
	25%{
		top: 50vh;
		left: 55vw;
	}
	30%{
		top: 46vh;
		left: 60vw;
	}
	50%{
		top: 40vh;
		left: 65vw;
	}
	60%{
		top: 50vh;
		left: 68vw;
	}
	75%{
		top: 60vh;
		left: 70vw;
	}
	80%{
		top: 58vh;
		left: 66vw;
	}
	to{
		top: 55vh;
		left: 60vw;
	}
}
@keyframes fly2{ /*Анимация плавного полёта фамилии*/
	from{
		top:75vh;
		left:60vw;
	}
	10%{
		top: 80vh;
		left: 58vw;
	}
	25%{
		top: 83vh;
		left: 55vw;
	}
	30%{
		top: 85vh;
		left: 60vw;
	}
	50%{
		top: 88vh;
		left: 65vw;
	}
	60%{
		top: 93vh;
		left: 68vw;
	}
	75%{
		top: 95vh;
		left: 70vw;
	}
	80%{
		top: 97vh;
		left: 66vw;
	}
	to{
		top: 75vh;
		left: 60vw;
	}
}

.span{ /*Задаю позицию, размер и появление своеобразной кнопке */
	position: absolute;
	top: 68vh;
	left: 25vw;

	width: 10vw;

	font-size: 2em;

	cursor: pointer;

	z-index: 1;

	transition: all 1s ease;
}
.span::before{ /*Создаю новый элемент (палочку) над кнопкой*/
	content: "";

	position: relative;
	top: 1vh;
	left: 0vw;

	display: inline-block;

	width: 9vw;
	height: .5vh;

	background-color: black;

	transition: all 1s ease;
}
.span:hover::before{/*Перемещаю палочку при наведении*/
	top: 3.5vw;
}
.fnln{ /*Задаю размер контейнеру текста*/
	width: 70vw;
	height: 70vh;
	position: absolute;
	animation: openone 1s ease;
}
@keyframes openone{ /*анимация появления контейнера с текстом*/
	from{
		left: -60vw;
	}
	70%{
		left: 10vw;
	}
	to{
		left: 1vw;
	}
}

svg{ /*Задаю размеры контейнеру с svg*/
	position: absolute;
	top: 50%;
	left: 103%;
	transform: translate(-50vw, -50vh);

	width: 40vw;
	height: 100vh;
}
path{ /*Задаю стили и появление квадрата*/
	position: relative;

	fill: none;
	stroke-width:3; 
	stroke: red;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray:1700px;
	stroke-dashoffset:1700px;

	transition: all 5s ease;
}
#polyone{ /*Делаю так, чтобы нужный квадрат показывался нужному устройству и немного стилизую его*/
	display: inline-block;
}
#polytwo{ /*Делаю так, чтобы нужные квадраты НЕ показывались НЕнужному устройству*/
	display: none;
}
#polythree{
	display: none;
}
#polyfour{
	display: none;
}

.img{ /*Задаю позицию, ширину, анимацию и покрывание родительского элемента фото Джолин*/
	object-fit: contain;
	position: relative;
	

	width: 100%;
	height: 100%;

	z-index: -1;

	animation: open 3s ease;
}

.image{ /*Задаю позицию и ширину родительскому элементу фото Джолин*/
	position: absolute;
	width: 40vw;
	height: 75vh;

	top: 8vh;
	left: 48vw;
}
@keyframes open{ /*Анимация появления фото Джолин*/
	from{
		opacity: 0;
	}
	to{
		opacity: 100%;
	}
}


.pageOne{
	width: 95vw;
	height: 100vh;

	margin-left: 1vw;
	padding: 0;

	position: absolute;
	top: 100vh;

	background-color: black;
}
.story{
	color: white;

	font-size: 3em;

	width: 50vw;

	margin: -30vh 0 0 14vw;
}
.ficha{
	margin-left: 1vw;
}
.ficha::before{
	content: "";

	display: inline-block;

	width: 5vw;
	height: 10.5vh;

	transform: scale(0);

	position: absolute;
	top: -0.5vh;
	left: 40.8vw;

	border-radius: 50%;

	background-color: red;

	transition: all 1s ease;
}
.ficha:hover::before{
	transform: scale(1);
}
.stars{
	position: relative;

	width: 175%;
	height: 100%;

	animation: flyStars 30s linear 0s infinite normal none running;
}
@keyframes flyStars{
	from{
		top: -10%;
		left: -80%;
	}
	50%{
		left: -75%;
	}
	to{
		top: -10%;
		left: -80%;
	}
}
.grow{
	width: 40vw;

	color: white;

	position: relative;
	top: -80vh;
	left: 5vw;
}
.eE{
	transition:all 10s ease;
}
.grow:hover .eE{
	color: red;
}
.rost, .pc{
	position: absolute;

	transition: all 30s ease;
}
.rost:hover{
	transform: rotateY(-180deg) rotateX(-180deg) scale(0);
}
.pc:hover{
	transform: rotateY(180deg) rotateX(180deg) scale(0);
}
.rost{
	width: 25vw;
	height: 50vh;

	top: 20vh;
	left: 68vw;
}
.pc{
	width: 20vw;
	height: 40vh;

	top: 50vh;
	left: 45vw;
}