@font-face{/*Загружаю шрифт*/
	font-family: "Consolas";

	src: url("fonts/consola.ttf");
}
@font-face{/*Загружаю шрифт*/
	font-family: "Sans Serif";

	src: url("fonts/helvetica.otf");
}

html{ /*Подготавливаю страницу к работе*/
	margin: 0;	
	padding: 0;

	background-color: white;

	font-family: "Consolas", consolas, "Sans Serif", helvetica; 

	overflow-x: hidden;

	width: 100%;
	height: 200%;
}

.page{ /*делаю контейнеры размером со всё устройство*/
	width: 100%;
	height: 100%;
}

h1{ /*Задаю стили моему имени и фамилии, чтобы они выглядени по-человечески*/
	font-size: 5em;
	font-weight: lighter;

	position: absolute;
	top: 65%;
	left: 60%;
	transform: translate(-50%,-50%);

	transition: all 1s ease;
}
#two(2){ /*Делаю так, чтобы фамилия была ниже имени*/
	top: 85%;
}
@keyframes fly{ /*Анимация плавного полёта имени*/
	from{
		top:15%;
		left:30%;
	}
	10%{
		top: 12%;
		left: 33%;
	}
	25%{
		top: 20%;
		left: 35%;
	}
	30%{
		top: 16%;
		left: 40%;
	}
	50%{
		top: 10%;
		left: 45%;
	}
	60%{
		top: 20%;
		left: 48%;
	}
	75%{
		top: 30%;
		left: 50%;
	}
	80%{
		top: 28%;
		left: 46%;
	}
	to{
		top: 15%;
		left: 30%;
	}
}
@keyframes fly2{ /*Анимация плавного полёта фамилии*/
	from{
		top:45%;
		left:40%;
	}
	10%{
		top: 50%;
		left: 48%;
	}
	25%{
		top: 53%;
		left: 35%;
	}
	30%{
		top: 55%;
		left: 40%;
	}
	50%{
		top: 58%;
		left: 45%;
	}
	60%{
		top: 63%;
		left: 48%;
	}
	75%{
		top: 65%;
		left: 50%;
	}
	80%{
		top: 67%;
		left: 46%;
	}
	to{
		top: 45%;
		left: 40%;
	}
}

.span{ /*Задаю позицию, размер и появление своеобразной кнопке */
	position: absolute;
	top: 105%;
	left: 35%;

	width: 15%;

	font-size: 2em;

	cursor: pointer;

	z-index: 1;

	transition: all 1s ease;
}
.span::before{ /*Создаю новый элемент (палочку) над кнопкой*/
	content: "";

	position: absolute;
	top: 1%;
	left: 0%;

	display: inline-block;

	width: 85%;
	height: 5%;

	background-color: black;

	transition: all 1s ease;
}
.span:hover::before{/*Перемещаю палочку при наведении*/
	top: 100%;
}
.fnln{ /*Задаю размер контейнеру текста*/
	width: 70%;
	height: 70%;
	position: absolute;
	animation: openone 1s ease;
}
@keyframes openone{ /*анимация появления контейнера с текстом*/
	from{
		left: -60%;
	}
	70%{
		left: 10%;
	}
	to{
		left: 1%;
	}
}

svg{ /*Задаю размеры контейнеру с svg*/
	position: absolute;
	top: 50%;
	left: 73%;
	transform: translate(-50%, -50%);

	width: 40%;
	height: 100%;
}
path{ /*Задаю стили и появление квадрата*/
	position: relative;

	fill: none;
	stroke-width:3; 
	stroke: red;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray:1700px;
	stroke-dashoffset:1700px;

	transition: all 5s ease;
}
#polyone{ /*Делаю так, чтобы нужный квадрат показывался нужному устройству и немного стилизую его*/
	display: inline-block;
}
#polytwo{ /*Делаю так, чтобы нужные квадраты НЕ показывались НЕнужному устройству*/
	display: none;
}
#polythree{
	display: none;
}
#polyfour{
	display: none;
}

.img{ /*Задаю позицию, ширину, анимацию и покрывание родительского элемента фото Джолин*/
	object-fit: contain;
	position: relative;

	width: 100%;
	height: 100%;

	z-index: -1;

	animation: open 3s ease;
}

.image{ /*Задаю позицию и ширину родительскому элементу фото Джолин*/
	position: absolute;
	width: 40%;
	height: 75%;

	top: 8%;
	left: 50%;
}
@keyframes open{ /*Анимация появления фото Джолин*/
	from{
		opacity: 0;
	}
	to{
		opacity: 100%;
	}
}


.pageOne{ /*Растягивание второй страницы, цвет*/
	width: 98%;
	height: 100%;

	margin-left: 0.5%;
	padding: 0;

	position: absolute;
	top: 100%;

	background-color: black;
}
.story{ /*цвет, размер и позиция заголовка*/
	color: white;

	font-size: 3em;

	width: 50%;

	position: absolute;
	top: 5%;
	left: 50%;
}
.ficha{/*отступ фичи*/
	margin-left: 1%;

	color: blue;
}
.ficha::before{/*красный круг, появляющийся при  наведении на IT*/
	content: "";

	display: inline-block;

	width: 9.5%;
	height: 105%;

	transform: scale(0);

	position: absolute;
	top: 3%;
	left: 84%;

	border-radius: 50%;

	background-color: red;

	transition: all 1s ease;
}
.ficha:hover::before{/*при наведении круг увеличивается в размерах*/
	transform: scale(1);
}
.stars{ /*размер звёзд и позиция*/
	position: relative;

	width: 175%;
	height: 100%;

	animation: flyStars 30s linear 0s infinite normal none running;
}
@keyframes flyStars{/*анимация движения звёзд*/
	from{
		top: -10%;
		left: -80%;
	}
	50%{
		left: -75%;
	}
	to{
		top: -10%;
		left: -80%;
	}
}
.grow{/*ширина контента  и его расположение*/
	width: 40%;

	color: white;

	position: relative;
	top: -80%;
	left: 5%;
}
.eE{ /*пасхалка*/
	transition:all 10s ease;
}
.grow:hover .eE{ /*появление пасхалки*/
	color: red;
}
.rost, .pc{ /*позиции иллюстраций*/
	position: absolute;

	transition: all 30s ease;
}
.rost:hover{ /*кружение иллюстраций при наведении*/
	transform: rotateY(-180deg) rotateX(-180deg) scale(0);
}
.pc:hover{/*кружение иллюстраций при наведении*/
	transform: rotateY(180deg) rotateX(180deg) scale(0);
}
/*иллюстрации*/
.rost{ 
	width: 25%;
	height: 50%;

	top: 20%;
	left: 68%;
}
.pc{
	width: 20%;
	height: 40%;

	top: 50%;
	left: 45%;
}

.pageTwo{ /*Растягивание третьей страницы, цвет*/
	width: 100%;
	height: 100%;

	margin-left: -1%;
	padding: 0;

	position: absolute;
	top: 202%;

	background-color: white;
}
.mFDL{
	color: black;

	font-size: 6em;

	width: 50%;

	position: absolute;
	top: 0%;
	left: 40%;
	transform: translate(-50%,-50%);

	padding-left: 50%;
}
.plus{
	display: inline-block;

	animation: plusAnim 3s linear 0s infinite;
}
.plus:nth-child(2){
	transform: translate(-30%, -5%);
	animation: plusAnim 3s linear 1s infinite;
}

@keyframes plusAnim{
	from{
		transform: scale(1) translate(-30%, -5%);
	}
	50%{
		transform: scale(2) translate(-20%, -5%);	
	}
	to{
		transform: scale(1) translate(-30%, -5%);
	}
}
.blin{
	position: absolute;
	top: 20%;
	left: 45%;

	color: rgba(0,0,0,0.5);
}
.sclboy{
	position: absolute;
	top: 30%;
	left: 50%;

	width: 40%;
}
.sclboy:hover{
	cursor: pointer;
}
#eEZa{
	color: red;
}
.cPlus{
	position: absolute;
	top: 13%;
	left: 5%;

	width: 40%;
	height: 70%;

	background-image: url(img/anime/cPlus.png);
	background-size: cover;

	animation: changesImg 8s step-start 0s infinite;
}
@keyframes changesImg{
	from{
	}
	20%{
		background-image: url(img/anime/cPlus.png);
	}
	40%{
		background-image: url(img/anime/cPlus1.png);
	}
	50%{
		background-image: url(img/anime/cPlus2.png);
	}
	60%{
		background-image: url(img/anime/cPlus3.png);
	}
	70%{
		background-image: url(img/anime/cPlus4.png);
	}
	80%{
		background-image: url(img/anime/cPlus5.png);
	}
	90%{
		background-image: url(img/anime/cPlus6.png);
	}
	to{
		background-image: url(img/anime/cPlus7.png);
	}
}
.pageThree{
	width: 104%;
	height: 100%;

	position: absolute;
	top: 304%;
	left: -4%;

	background-color: black;
}
.comeBack{
	color: blue;

	font-size: 3em;

	width: 30%;
	padding-left: 25%;

	position: absolute;
	top: 9%;
	left: 40%;
	transform: translate(-50%,-50%);
}
.comeBack::after{
	content: "Как я вернулся? Как я вернулся?";
	font-size: 0em;
	transition: all 2s ease;
}
.comeBack:hover::after{
	font-size: 1em;
}
.summer{
	color: white;

	width: 50%;

	position: absolute;
	top: 30%;
	left: 10%;
}
.devLan{
	color: blue;

	cursor: pointer;
}
.josGif{
	position: absolute;
	top: 30%;
	left: 65%;

	transition: all 5s linear;
}
.josGif:hover{
	transform: rotateZ(-360deg);
}
.ySlf{
	display: none;
	color: red;

	width: 100%;

	font-size: 14em;

	position: absolute;
	top: 20%;
}
.pageFour{
	width: 104%;
	height: 100%;

	position: absolute;
	top: 404%;
	left: -4%;

	background-color: white;
}
.myProjects{
	display: inline-block;
	color: blue;

	font-size: 4em;

	width: 30%;
	padding-left: 25%;

	position: absolute;
	top: 2%;
	left: 40%;

	transition: all 1s ease;
	cursor: pointer;
}
.allWrd{
	display: inline-block;
	transition: all 5s ease-out;
}
.turnEverAroun{
	display: inline-block;
	position: absolute;
	top: 16%;
	left: 45%;

	color: rgba(0,0,0,0.5);
	transition: all 2s ease-out;
}
.practice{
	color: black;

	width: 45%;

	position: absolute;
	top: 27%;
	left: 45%;

	transition: all 5s ease-out;
}
.practice:hover{
	letter-spacing: 5px;
}
.jolGif{
	position: absolute;
	top: 15%;
	left: 5%;

	width: 30%;

	transition: all 5s linear;
	animation: infin 30s ease 0s infinite;
}
@keyframes infin{
	from{
		top: 15%;
		left: 5%;
	}
	12%{
		top: 13%;
		left: 3%;
	}
	24%{
		top: 15%;
		left: -2%;
	}
	36%{
		top: 17%;
		left: 0%;
	}
	60%{
		top: 13%;
		left: 12%;
	}
	82%{
		top: 15%;
		left: 14%;
	}
	94%{
		top: 17%;
		left: 12%;
	}
	to{
		top: 15%;
		left: 5%;
	}
}
.pageFive{
	width: 104%;
	height: 100%;

	position: absolute;
	top: 504%;
	left: -4%;

	background-color: black;
}
.firstSite{
	color: blue;

	font-size: 3em;

	width: 30%;

	position: absolute;
	top: 2%;
	left: 40%;

	text-decoration: none;
}
.start{
	color: white;

	width: 45%;

	position: absolute;
	top: 10%;
	left: 10%;
}
.startPart2{
	top: 60%;
	left: 5%;

	transition: all 2s ease;
}
.dataAndTime{
	color: white;
	font-size: 2em;

	position: absolute;
	top: 20%;
	left: 60%;
}
.site1Screen1,.site1Screen2,.site1Screen3{
	position: absolute;

	width: 30%;

	transition: all 2s ease;

	cursor: pointer;
}
.site1Screen1:hover,.site1Screen2:hover,.site1Screen3:hover{
	z-index: 2;

	width: 30%;

	transform: scale(1.1);
}
.site1Screen1{
	top: 15%;
	left: 55%;
}
.site1Screen2{
	top: 40%;
	left: 70%;
}
.site1Screen3{
	position: absolute;
	top: 65%;
	left: 50%;
}
.startsAnimeGor, .startsAnimeVer{
	position: absolute;

	color: rgba(255,255,255,0.2);
}
.startsAnimeGor{
	width: 100%;

	animation: gorisontal 10s linear 0s infinite;
}
@keyframes gorisontal{
	from{
		top: -5%;
		left: 4%;
	}
	50%{
		top: 90%;
		left: 4%;
	}
	to{
		top: -5%;
		left: 4%;
	}
}
.startsAnimeVer{
	width: 10%;

	animation: vertikal 10s linear 0s infinite;
}
@keyframes vertikal{
	from{
		top: -1%;
		left: 0%;
	}
	50%{
		top: -1%;
		left: 100%;
	}
	to{
		top: -1%;
		left: 0%;
	}
}